<div class="container-fluid p-3">
    <div class="row my-3">
        <div class="col-md-6">
            <h1>Our Products</h1>
        </div>
        <div class="col-md-6 d-flex justify-content-md-end">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle class="toggle-btn" [value]="productTypes.WATER_SOLUBLE"
                    (click)="productTypeSelected(productTypes.WATER_SOLUBLE)">100%
                    Water Soluble
                </mat-button-toggle>
                <mat-button-toggle class="toggle-btn" [value]="productTypes.LIQUID_FERTILIZER"
                    (click)="productTypeSelected(productTypes.LIQUID_FERTILIZER)">Liquid Fertilizers
                </mat-button-toggle>
                <mat-button-toggle class="toggle-btn" [value]="productTypes.ALL"
                    (click)="productTypeSelected(productTypes.ALL)">All Products</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let product of products">
            <mat-card class="example-card shadow-lg h-100">

                <!-- Product Category -->
                <mat-card-subtitle>{{product.category}}</mat-card-subtitle>

                <!-- Product Name -->
                <mat-card-title>
                    <h3 class="font-weight-bold">{{product.name}}</h3>
                </mat-card-title>

                <mat-card-content>

                    <div class="row">
                        <div class="col-md-4">
                            <!-- Product Image -->
                            <div class="d-flex justify-content-center align-items-end mb-3">
                                <!-- Big -->
                                <img class="product-img" src="assets/images/{{product.images.large}}.png"
                                    alt="{{product.name}}">

                                <!-- Small -->
                                <img class="product-img_small" src="assets/images/{{product.images.small}}.png"
                                    alt="{{product.name}}">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <!-- Description -->
                            <p class="text-muted text-justify">
                                {{product.description}}
                            </p>
                        </div>
                    </div>

                    <mat-accordion class="example-headers-align" multi>

                        <!-- Specifications -->
                        <mat-expansion-panel class="no-padding">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Specifications
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <table class="table table-bordered mb-0" *ngIf="product.specification.byPercent.length">
                                <thead>
                                    <tr>
                                        <th>Specification</th>
                                        <th>(%) by weight</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let specification of product.specification.byPercent">
                                        <td>
                                            {{specification.name}}
                                        </td>
                                        <td>
                                            {{specification.value}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-bordered mb-0 mt-2" *ngIf="product.specification.byWeight.length">
                                <thead>
                                    <tr>
                                        <th>Specification</th>
                                        <th>by weight</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let specification of product.specification.byWeight">
                                        <td>
                                            {{specification.name}}
                                        </td>
                                        <td>
                                            {{specification.value}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </mat-expansion-panel>

                        <!-- Advantages -->
                        <mat-expansion-panel class="no-padding" *ngIf="product.advantages.length">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Advantages
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <ul>
                                <li *ngFor="let advantage of product.advantages">
                                    {{advantage}}
                                </li>
                            </ul>

                        </mat-expansion-panel>

                        <!-- For Best Results -->
                        <mat-expansion-panel class="no-padding" *ngIf="product.forBestResults.length">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    For Best Results
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <ul>
                                <li *ngFor="let item of product.forBestResults">
                                    {{item}}
                                </li>
                            </ul>

                        </mat-expansion-panel>

                        <!-- Doses -->
                        <mat-expansion-panel class="no-padding">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Doses
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <table class="table table-bordered mb-0">
                                <tbody>
                                    <tr *ngFor="let dose of product.doses">
                                        <td>{{dose.name}}</td>
                                        <td>{{dose.suggestion}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </mat-expansion-panel>
                    </mat-accordion>


                    <!-- Available Packaging -->
                    <div class="mt-3">
                        <h3 class="mb-1">
                            Available Packaging
                        </h3>
                        <mat-chip-list>
                            <mat-chip selected class="bg-custom-primary"
                                *ngFor="let packaging of product.availablePackaging">
                                {{packaging}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>


    </div>
</div>