<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-12 h-100 p-0">
            <mat-sidenav-container class="example-container" (backdropClick)="this.sidenav.close()" class=" h-100">
                <mat-sidenav #sidenav (keydown.escape)="this.sidenav.close()" disableClose>

                    <!-- Close Button -->
                    <div class="d-flex justify-content-end mt-2">
                        <button mat-icon-button (click)="this.sidenav.close()" class="mr-2">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </mat-sidenav>

                <mat-sidenav-content>

                    <!-- Toolbar -->
                    <div class="row">
                        <div class="col-12">
                            <mat-toolbar color="primary" class="justify-content-between">
                                <div class="d-flex align-items-center">
                                    <button (click)="sidenav.open()" mat-icon-button class="example-icon"
                                        aria-label="Example icon-button with menu icon">
                                        <mat-icon>menu</mat-icon>
                                    </button>
                                    <span>Iskon Agro</span>
                                </div>

                                <div>
                                    <button mat-button (click)="showProducts()">
                                        Products
                                    </button>
                                </div>
                            </mat-toolbar>
                        </div>
                    </div>

                    <!-- Content -->
                    <div class="row">
                        <div class="col-12">
                            <router-outlet></router-outlet>
                            <!-- <button class="scroll-to-top-btn" mat-mini-fab color="primary" (click)="scrollToTop()">
                                <mat-icon>arrow_upward</mat-icon>
                            </button> -->
                        </div>
                    </div>

                    <!-- Footer -->
                    <div class="row">
                        <div class="col-12">
                            <div class="footer">
                                <h1>footer</h1>
                            </div>
                        </div>
                    </div>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </div>
</div>

