<mat-sidenav-container (backdropClick)="this.sidenav.close()">
    <mat-sidenav #sidenav (keydown.escape)="this.sidenav.close()" disableClose>

        <!-- Brand & Close Button -->
        <div class="d-flex justify-content-between bg-custom-primary p-2 text-white">
            <div class="d-flex align-items-center">
                <img src="assets/images/logo.png" alt="iskon_agro" class="logo mr-2">
                <span class="h5 mb-0">Iskon Agro</span>
            </div>
            <button mat-icon-button (click)="this.sidenav.close()" class="mr-2">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <!-- Links -->
        <div class="p-3 d-flex flex-column">
            <button mat-button (click)="goToScreen(screens.PRODUCTS)">Products</button>
            <button mat-button (click)="goToScreen(screens.CONTACT_US)">Contact Us</button>
            <button mat-button (click)="goToScreen(screens.ABOUT_US)">About Us</button>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>

        <div class="container-fluid">
            <!-- Toolbar -->
            <div class="row shadow">
                <div class="col-12 p-0 toolbar">
                    <mat-toolbar color="primary" class="justify-content-between">
                        <div>
                            <img src="assets/images/logo.png" alt="iskon_agro" class="logo mr-2">
                            <span>Iskon Agro</span>
                        </div>

                        <div class="d-none d-md-block">
                            <button mat-button (click)="showProducts()">
                                Products
                            </button>
                            <button mat-button (click)="goToScreen(screens.CONTACT_US)">
                                Contact Us
                            </button>
                            <button mat-button (click)="goToScreen(screens.ABOUT_US)">
                                About Us
                            </button>
                        </div>
                        <button (click)="sidenav.open()" class="d-md-none d-sm-block" mat-icon-button
                            aria-label="icon-button with menu icon">
                            <mat-icon>menu</mat-icon>
                        </button>
                    </mat-toolbar>
                </div>
            </div>

            <!-- Content -->
            <div class="row" id="mainContent">
                <div class="col-12 p-0 main-content">
                    <app-carousel></app-carousel>
                    <router-outlet></router-outlet>
                </div>
            </div>

            <!-- Footer -->
            <div class="row">
                <div class="col-12 p-0">
                    <app-footer></app-footer>
                </div>
            </div>
        </div>


    </mat-sidenav-content>
</mat-sidenav-container>