<div class="container-fluid mt-1 p-5">
    <div class="row">
        <div class="col-12">
            <h1 class="d-flex justify-content-center">Contact Us</h1>
        </div>
    </div>

    <!-- Personal Details -->
    <div class="row mt-3">
        <div class="col-md-4 offset-md-4">
            <div class="d-flex">
                <mat-icon>mail</mat-icon>
                <h3 class="mb-1 ml-2">
                    iskcon.agroind@gmail.com
                </h3>
            </div>

            <div class="d-flex border-bottom mt-2">
                <mat-icon>phone</mat-icon>
                <h3 class="mb-1 ml-2">
                    8308801919
                </h3>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-4 offset-md-4 d-flex flex-column">
            <div class="d-flex">
                <mat-icon>place</mat-icon>
                <h3 class="mb-1">Office Address:</h3>
            </div>
            <p class="text-muted text-monospace">
                S/n 187/1/1, Near Koregaon MIDC, Opp. Hotel Sai ,
                <br>
                Koregaon Rahimatpur Road,
                <br>
                Tal - Koregaon, Dist- Satara, Maharashtra
                <br>
                Pin Code - 415501
                <br>
            </p>
        </div>
    </div>

    <!-- Warehouse Address -->
    <div class="row mt-3">
        <div class="col-md-4 offset-md-4 d-flex flex-column">
            <div class="d-flex">
                <mat-icon>place</mat-icon>
                <h3 class="mb-1">Warehouse Address:</h3>
            </div>
            <p class="text-muted text-monospace">
                C/o Seacom Logistics,
                <br>
                S.NO.41/1/A & 41/1/B
                <br>
                PADGHE VILLAGE, KALOMBOLI
                <br>
                TALUKA PANVEL Dist - RAIGAD, MAHARASHTRA
                <br>
                Pin Code: 410218.
            </p>
        </div>
    </div>




</div>